public class Leson4 {

  public static void main(String[] args) {
      int num1 = 7;
      int num2 = 3;

      int result = num1 + num2; 
      System.out.println("Resultat:" + result); 
      //
      int num1 = 7;
      int num2 = ++num1; 
      int num3 = num2;

      System.out.println("Resultat:" + num3);
      //
      int num1 = 7;
      int num2 = 6;
      int num3 = 7;
      int num4 = 5;

      if (num1 == num2 || num3 >= num4) { // == равенстно, != не равенство, < меньше, > больше.&&- и, значит провести 
          // еще одну операцию, ||- или. 
        System.out.println("Resultat true");
      }
      else {
        System.out.println("Resultat false");
      }
  }   
}
